$lightGray: #899197;
$templeRed: #ee2738;

.abs-button, #abs-button-toggle{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  z-index: 10;
}
.add-to-fav:hover{
  color: $templeRed;
}
.abs-button{
  height: 45px;
  width: 75px;
  background-color: $lightGray;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 1.5em;
  color: $templeRed;
}

#abs-button-toggle{
  width: 80vw;
  min-height: 100px;
  padding: 10px;
  background-color: white;
  border: 1px solid $lightGray;
}

.pointer{
  cursor: pointer;
}

#carrot{
  font-size: 0.8em;
  vertical-align: text-center;
}

/*#pagination{
  text-align: center;
}

.pagination{
  max-width: 100%;
  white-space:nowrap;
}
*/
html, body, .container{
  font-family: 'Open Sans';
}
html{
  min-height: 100%;
}

/* hide stuff 
#loading, #results{
  display: none;
}
*/

#s h1{
  padding: 0;
  margin: 0;
  display: inline-block;
}

#container{
  position: relative;
}

body{
  background-image: url('http://astro.temple.edu/~tue96435/DiamondPattern.svg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
  //background-color: #899197;
  background: linear-gradient(180deg, #899197, #6A7780, 90%, #B3B7BA);
  color: white;
  opacity: 0.945;
  padding: 2em;
}
main{
  width: 80vw;
  min-height: 75vh;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: white;
}

#gened{
  padding: 0.5em;
  padding-bottom: 0;
  a{
    color: #333;
  }
  a:hover{
    text-decoration: none;
  }
  h1{
    font-size: 3.5em;
    font-weight: 500;
  }
}

#body{
  padding: 50px;
  padding-top: 1em;
  border-radius: 0px 0px 5px 5px;
}

#results{
  text-align: left;
  width: 95%;
  margin-left: 5%;
  margin-top: -25px;
}

#other{
  label{
    h4{
      margin: 0;
      font-size: 1em;
    }
  }
}
#areas{
  label{
    font-size: .8em;
    font-weight: 100;
    h4{
      margin: 0;
      font-size: 1em;
    }
  }
  input, input[type='checkbox']{
    margin-top: 0 !important;
    padding: 0 !important;
    margin-bottom: 15px;
  }
}

#courses{
  .collapse, .collapsing{
    margin-left: 0;
  }
}

.course{
  a{
    color: #333;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  h2{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
  }
  
  span{
    font-size: 1.2em;
  }
  
  p{
    font-size: 1.4em;
  }
}

#menu{
  a{
    margin-right: 10px;
  }
}

input{
    border: 1px solid $lightGray;
    border-radius: 5px !important;
    margin-top: 10px !important;
    padding: 10px !important;
    font-size: 1.2em !important;
}

input.close{
  opacity: 1;
  font-family: 'Open Sans';
  font-weight: 100;
  text-shadow: initial;
}

input[type=button]{
   background-color: $templeRed;
   color: white;
}

#search{
  margin-bottom: 10px;
  
  input[type=text]{
    width: 84%;
  }
  
}

#other{
  .row{
    margin-bottom: 15px;
  }
}

#areaList{
  text-align: left;
}

#categories{
  width: 100%;
}

.category{
  //padding: 10px;
  margin-bottom: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  //float: right;
}
.category:focus{
  outline: -webkit-focus-ring-color auto 5px;
}
/*
.row .category:not(:first-child){
  margin-right: 5%;
}
.row .category:not(:last-child){
  margin-right: 5%;
}
*/
/*
.col-md-3, .col-lg-3{
  width: 16%;
}
*/

.collapse, .collapsing{
  width: 92.5%;
  margin: 0 auto;
  border: 1px solid $lightGray;
  border-radius: 10px;
  padding: 10px;
}

#advanced-search{
  #select-dept.form-control{
    max-width: 85%;
  }
}

.export{
  display: inline-block;
  margin-right: 5px;
}

@media screen and (max-width: 1350px){
  main{
    width: 90vw;
  }
}
@media screen and (min-width: 992px){
  #areas{
    border-right: 1px solid black;
  }
}
@media screen and (max-width: 990px){
  #filter-buttons{
    float: initial;
    text-align: center;
  }
}
@media screen and (max-width: 960px){
  #s{
    h1{
      font-size: 2em;
    }
  }

}

@media screen and (max-width: 768px){
  nav{
    display: none;
  }
  main{
    width: 100vw !important;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  #body{
    padding: 25px;
    padding-top: 10px;
  }
  #search{
    margin-bottom: 35px;
    
    input, input[type=button]{
      font-size: 1em;
    }
  }
  .category{
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 660px){
  #s h1{
    font-size: 1.75em;
  }
}

@media screen and (max-width: 565px){
  main{
    width: 100%;
  }
  #search{
    margin-bottom: 25px;
    input[type=text]{
      width: 80%;
    }
  }
  #s h1{
    font-size: 1.5em;
  }
}
@media screen and (min-width: 425px){
  #search{
    a{
      font-size: 1.2em;
    }
  }
}
@media screen and (max-width: 423px){
  #search{
    input[type=text]{
      width: 100%;
    }
  }
  #title{
    img{
      max-width: 100%;
    }
  }
  #filter-buttons{
    button{
      margin-right: 5px !important;
    }
  }
}