option(value="", selected) Select a Department
option(value="AOD") Adult & Organizational Development
option(value="ADV") Advertising 
option(value="AAAS") Africology & African American Studies
option(value="AMST") American Studies
option(value="ANTH") Anthropology
option(value="ARBC") Arabic  
option(value="ARCH") Architecture
option(value="ARTH") Art History
option(value="ASST") Asian Studies
option(value="BIOE") Bioengineering
option(value="BIOL") Biology
option(value="BTMM") Broadcasting/Telecom/MassMedia
option(value="CHEM") Chemistry
option(value="CHI") Chinese 
option(value="CRP") Community & Regional Planning
option(value="CIS") Computer Information Systems (CIS) 
option(value="CJ") Criminal Justice
option(value="CRIT") Critical Languages Center
option(value="DANC") Dance
option(value="DSST") Disability Studies
option(value="EES") Earth & Environmental Science 
option(value="ECON") Economics
option(value="EDUC") Education 
option(value="EDAD") Educational Administration
option(value="ECE") Electrical Engineering
option(value="ENG") English
option(value="ENVT") Environmental Engineering Tech
option(value="ENVST") Environmental Studies (CLA)
option(value="FMA") Film and Media Arts
option(value="FIN") Finance
option(value="FREN") French 
option(value="GSWS") Gender/Women Studies
option(value="GUS") Geography and Urban Studies
option(value="GAD") Graphic Arts and Design
option(value="GER") German
option(value="GRC") Greek & Roman Classics
option(value="HEBR") Hebrew
option(value="HIST") History
option(value="HRM") Human Resource Management
option(value="IH") Intellectual Heritage 
option(value="ITAL") Italian
option(value="JPNS") Japanese
option(value="JST") Jewish Studies
option(value="KRN") Korean
option(value="LARC") Landscape Architecture
option(value="LAS") Latin American Studies
option(value="LAWU") Law - Undergraduate Courses
option(value="LGLS") Legal Studies 
option(value="MIS") Management Information Systems (MIS) 
option(value="MATH") Mathematics
option(value="MEE") Mechanical Engineering
option(value="MSP") Media Studies and Production
option(value="MUST") Music Studies
option(value="NSCI") Neuroscience - CLA
option(value="PHIL") Philosophy
option(value="PHYS") Physics
option(value="POLS") Political Science
option(value="PSY") Psychology
option(value="REL") Religion
option(value="RMI") Risk Management and Insurance
option(value="RUS") Russian
option(value="SPSY") School Psychology
option(value="SSWU") Social Work - Undergraduate
option(value="SOC") Sociology
option(value="SPAN") Spanish
option(value="STHM") Sports, Tourism & Hospitality Management 
option(value="STAT") Statistics
option(value="STRC") Strategic Communications
option(value="SGM") Strategic Management
option(value="THTR") Theater
option(value="THRC") Therapeutic Recreation
option(value="TYLE") Tyler School of Art
option(value="UNVS") University Seminar
option(value="URBE") Urban Education