doctype html
html
  head
    link(rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/simplePagination.css")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #s
    #container
      main.text-center
        section#gened
          div
            span.sr-only Home
            a.pointer.nav-link(href="home")        
              h1 Course Search
        section#body
          #menu
            a.nav-link(href="search?all" id='allCourses') Browse all courses
            a(href='https://gened.temple.edu/booklet/', target="_blank") Course Booklet and Policies 
              strong (PDF)
            a(href="http://tucourses.temple.edu") Temple Course Catalog
          #search
            #searchbar
              form
                input(id='searchBar', type='text', placeholder="Enter a GenEd Area, keyword, course #, or subject")
                input.search.nav-link(id="searchBarSubmit" type='button', value = 'Search' href="search?query=")
              
            a#toggle-filter.pointer(data-toggle="collapse", data-target="#advanced-search") Filter Search &nbsp;
              span#carrot  &#9660;
            
            .collapse#advanced-search()
              .row
                .col-md-6#areas
                  h4 GenEd Areas
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GW") 
                          h4 Analytical Reading & Writing (GW)
                        br
                        input(type='checkbox' id="GW")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GA") 
                          h4 Arts (GA)
                        br
                        input(type='checkbox' id="GA")
                    .row.text-center
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GG") 
                          h4 Global/World Society (GG)
                        br
                        input(type='checkbox' id="GG")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GY") 
                          h4 Mosaic I (GY)
                        br
                        input(type='checkbox' id="GY")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GZ") 
                          h4 Mosaic II (GZ)
                        br
                        input(type='checkbox' id="GZ")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GQ") 
                          h4 Quantitative Literacy (GQ)
                        br
                        input(type='checkbox' id="GQ")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GD") 
                          h4 Race & Diversity (GD)
                        br
                        input(type='checkbox' id="GD")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GS") 
                          h4 Science & Technology (GS)
                        br
                        input(type='checkbox' id="GS")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GU") 
                            h4 U.S. Society (GU)
                        br
                        input(type='checkbox' id="GU")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GB") 
                          h4 Human Behavior (GB)
                        br
                        input(type='checkbox' id="GB")
                .col-md-6#other
                  h4 Course Attributes
                  .row
                    label.sr-only(for='select-dept') Select a department
                    select#select-dept.form-control(style="margin: 0 auto;")
                      include ./departments.pug
                  .row
                    .group(style="float: left; margin-left: 7.5%;")
                      label(for='honors' style='margin-top: 5px;') 
                        h4 Show honors courses 
                      ="  "
                      input#honors(type='checkbox')
                      br
                      .group(style="float: left; margin-left: 7.5%;")
                      label(for='study_abroad' style='margin-top: 5px;') 
                        h4 Show study abroad courses 
                      ="  "
                      input#study_abroad(type='checkbox')
                      br
                      label(for='online' style='margin-top: 5px;') 
                        h4 Show online courses
                      ="  "
                      input#online(type='checkbox')
                      br
                      h4 Please note: Not all courses are offered regularly.
                  div#filter-buttons(style="bottom: 0;")
                    button.btn.search.nav-link(href="search?query=" style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Search

                    button.btn(data-toggle="collapse", data-target="#advanced-search", style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Close

                    button.btn#clear(style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Clear
                      
          #categories.row.app
            #home
              #areaList.col-sm-12.col-md-3
                h2.text-center GenEd Requirements
                
              #theCategories.col-sm-12.col-md-9
                h2 Topics of interest
              div(style="clear: both;")
            #results
              h3.left
                a.pointer.nav-link(id='back', href="home") Back 
                span | 
                span#sorted
              #courses
              #pagination.text-center
                ul.pagination(style="display: inline-block;")
            #loading
              p Loading
    .abs-button 
      i(class="	glyphicon glyphicon-heart-empty")
    #abs-button-toggle.hidden 
      #abs-button-toggle-message
      p You can save courses to review later by clicking the 
        i(class="glyphicon glyphicon-heart-empty")
        span &nbsp;next to their names. They'll appear here.
      #abs-button-toggle-info
        p To see general availability for this course please visit 
          a(href="http://tucourses.temple.edu") &nbsp;TUCourses
          span .
        p To register for courses please visit 
          a(href="https://tuportal.temple.edu") TUPortal
          span &nbsp;and see "Registration" under the "Student Tools" tab
      form#export.hidden.export(method="POST" action="https://gened.temple.edu/courseapi/pdf.php", target="_blank")
        button(class="btn btn-primary", type="submit") Save PDF
      button.hidden.export.btn.btn-primary#export-email Email Favorites
      form.hidden#export-email-form
        label(for="email-address") Email address
        input(type="email" name="email-address")
        button.btn.btn-primary(type="submit") Send
    .modal.fade#modal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title
          .modal-body
            h4 Course Description
            p#modal-desc
            p To see general availability for this course please visit 
              a(href="http://tucourses.temple.edu") TUCourses.
            p To schedule for courses please visit 
              a(href="https://tuportal.temple.edu") TUPortal&nbsp;
              span and see "Registration" under the "Student Tools" tab.
          .modal-footer
            input.close(type='button', data-dismiss='modal', value='Close')

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="js/jquery.simplePagination.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
  script(src="js/bundle.js")
